.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 100%;
}

.blog-post-tag-label {
    margin-bottom: 0 !important;
    margin-right: 0.5rem !important;
    cursor: default;
    user-select: none;
}

.blog-post-tag-label-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
