.header-overlay {
    position: relative;
    height: 700px;
    width: 100% !important;
    background-color: #f5f4f0;
}

.header-overlay-center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 700px;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.header-overlay-container {
    display: flex !important;
    align-items: center !important;
}
