.dropdown-icon-left > i {
    float: left;
}

/* @media only screen and (min-width: 768px) {
    .language-switcher-mobile {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .language-switcher-desktop {
        display: none;
    }
}
 */
