.shop-article-image {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
}

.shop-article-grid-column {
    padding: 0 !important;
}
