.center-cropped {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 100%;
}

.rounded-corners-top img {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.rounded-corners {
    border-radius: 16px !important;
}
