html {
    overflow: hidden;
}
html,
body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body > div {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    padding-bottom: 2em;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.global-navbar {
    background: transparent !important;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media only screen and (max-width: 767px) {
    .global-header-padding {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .global-header-padding {
        padding-top: 90px;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (min-width: 768px) {
    .responsive-desktop-container {
        display: inherit;
    }

    .responsive-mobile-container {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .responsive-desktop-container {
        display: none !important;
    }

    .responsive-mobile-container {
        display: inherit;
    }
}

.rounded-corners-top img {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.rounded-corners {
    border-radius: 16px !important;
}

p {
    color: rgb(15, 19, 26);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.global-subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

.text-primary {
    color: #2185d0 !important;
}

.text-secondary {
    color: #e83e8c;
}

.text-primary-inverted {
    color: #fff !important;
}
.shadow {
    box-shadow: 0 5px 12px 0 rgba(33, 43, 54, 0.07), 0 10px 30px 0 rgba(33, 43, 54, 0.085);
}
.rounded {
    border-radius: 0.5rem;
}
.bg-secondary {
    background: #f8f9fa;
}
