@import 'lib.less';

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: local('Poppins Light'), local('Poppins-Light'),
        url('../../static/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: local('Poppins'), local('Poppins-Regular'),
        url('../../static/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../../static/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../../static/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('../../static/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair';
    src: local('PlayfairDisplay Bold'), local('Poppins-PlayfairDisplay-Bold'),
        url('../../static/fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype');
    font-display: swap;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    font-family: 'Poppins', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    white-space: pre-line;
}
.font-playfair {
    font-family: 'Playfair', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

html {
    overflow: hidden;
    font-size: 16px !important;
}
html,
body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
}

body {
    display: block;
}

body > div {
    height: 100%;
    width: 100%;
    margin: 0;
}

body > div > div {
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

@media @mobile {
    .flex-container > div {
        /* margin-top: 52px; */
        /*         margin-top: 49px !important; */
    }
}

.global-navbar {
    background: transparent !important;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 0em 0em;
    margin-bottom: 1em;
    border: none;
    text-align: 'center';
}

.menu-item-logo {
    padding: 0px !important;
    margin-right: 1.5rem !important;
}

.global-navbar-dropdown {
    padding: 20px 35px !important;
    a .item {
        padding: 9px 0 !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;

        font-size: 1rem;
        line-height: 22px !important;
        text-transform: uppercase !important;
        font-weight: 600 !important;
        letter-spacing: 0.025em;
        transition: color 0.1s;
        color: rgba(0, 0, 0, 0.87) !important;
    }

    a .item:hover {
        color: rgba(0, 0, 0, 0.6) !important;
    }
}

.ui.simple.dropdown .menu {
    height: auto !important;
    opacity: 0 !important;
    width: auto !important;
    transition: all 0.25s ease !important;
}

.ui.simple.active.dropdown > .menu,
.ui.simple.dropdown:hover > .menu {
    opacity: 1 !important;
    padding: 20px 35px !important;
    height: auto !important;
}

.ui.secondary.menu .dropdown.item > .menu,
.ui.text.menu .dropdown.item > .menu {
    margin-top: 0 !important;
}

@media @mobile {
    .global-header-padding {
        padding-top: 60px;
    }
}

@media @desktop {
    .global-header-padding {
        padding-top: 7.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media @desktop {
    .responsive-desktop-container {
        display: block;
    }

    .responsive-mobile-container {
        display: none !important;
    }
}

@media @mobile {
    .responsive-desktop-container {
        display: none !important;
    }

    .responsive-mobile-container {
        display: block;
    }
}

.rounded-corners-top {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    img {
        border-top-left-radius: 0.5rem !important;
        border-top-right-radius: 0.5rem !important;
    }
}

p {
    color: rgb(15, 19, 26);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.global-subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem !important;
    line-height: 1.6 !important;
}

h2&.global-headline {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0rem;
    line-height: 1.15 !important;
    margin-bottom: 3rem !important;
}

.text-primary-inverted {
    color: #fff !important;
}
.shadow {
    box-shadow: 0 5px 12px 0 rgba(33, 43, 54, 0.07), 0 10px 30px 0 rgba(33, 43, 54, 0.085) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.rounded {
    border-radius: 0.5rem !important;
}
.bg-secondary {
    background: #f8f9fa;
}
.global-flex-column {
    display: flex;
    flex-direction: column;
}
.global-no-margin {
    margin: 0 !important;
}

.dark-overlay {
    position: relative;
    overflow: hidden;
}

.dark-overlay::after,
.dark-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    filter: brightness(0.9);
    z-index: 1 !important;
}

.hover-animate {
    transition: transform 0.2s ease-in-out !important;
}

.hover-animate:hover,
.hover-animate:focus {
    -webkit-transform: translate3d(0, -2px, 5px);
    transform: translate3d(0, -2px, 5px);
}

@media @desktop {
    .Toastify__toast-container {
        width: 600px !important;
    }
}

@media @mobile {
    .Toastify__toast-container {
        width: 94vw !important;
        margin-left: 3vw !important;
        margin-right: 3vw !important;
        bottom: 3vw !important;

        div {
            .rounded();
        }
    }
}

.Toastify__toast-body {
    padding: 0.5rem 1rem;
}

.pushable,
.pusher {
    /*     display: flex;
    flex-direction: column; */
    height: 100%;
    overflow: visible !important;
    min-height: 100vh !important;
}

.text-primary {
    color: @primaryColor !important;
}

.text-secondary {
    color: @secondaryColor;
}

.text-muted {
    color: rgba(15, 19, 26, 0.5);
}

.main-content-sections section {
    padding: 6rem 0rem;

    @media @mobile {
        padding: 4rem 0rem;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-circle-with-text {
    h3 {
        font-size: 17px !important;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        line-height: 1.3;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }

    p {
        font-size: 1rem;
    }

    .rtt-icon-circle-primary {
        background-color: fade(@primaryColor, 20%);
    }
    .rtt-icon-circle-secondary {
        background-color: fade(@secondaryColor, 20%);
    }

    .rtt-icon-circle {
        display: inline-block;
        min-width: 4rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        text-align: center;
        line-height: 4rem;
        margin-bottom: 1rem !important;
    }

    .rtt-icon-circle > i {
        margin: 0 !important;
    }
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.content-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item {
    color: rgba(255, 255, 255, 1) !important;
}

.global-navbar-mobile {
    height: 52px;
    top: -2px !important;
    margin-top: 0px !important;
    backdrop-filter: saturate(180%) blur(20px) !important;
    background-color: rgba(255, 255, 255, 0.72) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.16);
}
