.rtt-call-to-action {
    padding: 6rem 3rem !important;
    margin-top: 4rem;

    h4 {
        font-size: 1.25rem !important;
        margin-top: 0.25rem !important;
        margin-bottom: 1rem !important;
        font-weight: 400 !important;
    }

    p {
        margin-bottom: 0 !important;
        color: rgba(15, 19, 26, 0.5);
    }
}
