.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* The height of the item will now be 56.25% of the width. */
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.image-dark-overlay {
    opacity: 1 !important;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
}

.rtt-call-to-action-image {
    height: 450px;
    background-position: center;
    .image-dark-overlay();
}

.call-to-action-text {
    font-size: 4.5rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 767px) {
    .call-to-action-text {
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
}
.rtt-call-to-action-image-container {
    display: flex !important;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    /*this gives the dimension of slider container*/
    /*these values will make the container as big as the parent div*/
    overflow: hidden;
    /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}

.swiper-container .swiper-wrapper {
    padding-bottom: 3rem !important;
    padding-top: 0.5rem !important;
}

.swiper-slide {
    width: 300px;
    height: 300px;
}

.rtt-testimonials-card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px;
    border-radius: 0.4rem;
    padding: 1rem;
    padding-left: 70px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;
    margin-left: 4rem;
    margin-right: 2rem;
}
.rtt-testimonials-card .rtt-testimonials-card-text {
    position: block;
    padding: 4rem;
    padding-left: 1rem;
}
.rtt-testimonials-card-text-quote {
    font-size: 2rem !important;
}

.rtt-testimonials-card-text-author {
    font-size: 1.2rem;
}

.rtt-testimonials-card-text-main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rtt-testimonials-avatar {
    overflow: hidden;
    width: 80px;
    height: 80px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: -8px 4px 15px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 0;

    & img {
        width: 80px;
        height: 80px;
    }
}

.rtt-testimonials-card-inner-container {
    display: flex;
}

.rtt-icon-circle {
    background-color: #eaedfe;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 1rem !important;
}

.rtt-icon-circle > i {
    margin: none !important;
}

.video-wrapper {
    overflow: hidden;
}

.rtt-areas-card-background {
    background-size: cover;
    overflow: hidden;
}

.rtt-areas-card-background-text-wrapper {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;

    .rtt-areas-card-background-text {
        z-index: 10;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.75rem !important;
        color: white;
        font-weight: 700;
    }
}
